/* Typographies */
@font-face {
    font-family: 'Ade';
    src: url("fonts/Ade-Display.otf");
}
@font-face {
    font-family: 'Mulish';
    src: url("fonts/Mulish-VariableFont_wght.ttf");
}

/* General styles */
:root {
    --orange: #ce7f2c;
    --dark-green:#3a5335;
    --light-green:#709e53;
    --off-white: #f0ebe6;
    --white: #ffffff;
    --black: rgb(0, 0, 0);
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    overflow:auto;
}
body {
    color: var(--black);
    background: var(--off-white);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    min-height: 100vh;
}
.home, .contact {
    height: 100vh;
    overflow: hidden;
}
main {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    height: 100%;
    overflow: visible;
}
header {
    background-color: var(--white);
    padding-top: 20px;
    padding-bottom: 20px;
}
header nav > a {
    text-transform: uppercase;
    font-family: 'Ade', serif;
    letter-spacing: 2px;
}
header img {
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
header a:hover img {
    filter: invert(47%) sepia(94%) saturate(373%) hue-rotate(350deg) brightness(97%) contrast(92%);
}
header ul {
    margin-top: 15px;
}
footer {
    margin-top: 50px;
    background-color: var(--dark-green);
}
footer nav {
    width: 80%;
    margin: 0 auto;
}
footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
footer img {
    height: 60px;
    filter: invert(100%);
}
footer a:hover img {
    filter: none;
}
footer p {
    color: var(--white);
    font-size: 0.7em;
}
ul {
    overflow: visible;
}
li {
    list-style: none;
    display: inline;
}
nav li {
    list-style: none;
    text-transform: lowercase;
    margin: 10px;
    overflow: visible;
}
h1 {
    font-family: 'Ade', sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 5px;
    color: var(--white);
    margin: 30px 0;
}
h2 {
    font-size: 1.2em;
    text-align: right;
    margin-bottom: 10px;
}
p {
    padding: 15px 0;
    font-size: 1em;
    line-height: 1.5em;
}
main > p {
    margin: 30px 0;
}
a {
    text-decoration: none;
    color: var(--black);
}
a:hover, a.current-page {
    color: var(--orange);
    font-style: oblique;
}
footer a {
    color: var(--white);
    text-transform: uppercase;
    font-size: 0.9em;
}
footer a:hover, footer a.current-page {
    color: var(--black);
}
button {
    cursor:pointer;
}
span {
    font-weight: bold;
}

/* Home page */
.home {
    background-color: var(--black);
}
.home header {
    background-color: transparent;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: visible;
}
.home button {
    background-color: transparent;
    position: absolute;
    right: 20px;
    top: 25px;
    border-width: 0;
}
#close-home-menu {
    display: none;
}
.home nav {
    display: none;
    background-color: rgb(0, 0, 0, 0.9);
    position: absolute;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-items: center;
    font-family: 'Ade', serif;
}
.home ul {
    width: 100%;
}
.home li {
    display: block;
    padding-top: 40px;
    text-transform: uppercase;
    font-size: 2em;
}
.home a {
    color: var(--white);
}
.home h1{
    padding-top: 40vh;
    line-height: 1.5em;
    font-size: 3.5em;
    margin: 0;
}
.home main{
    max-width: 100%;
    background-size: cover;
    background-position: center;
    -webkit-clip-path: polygon(0% 17%, 6% 13%, 12% 17%, 17% 14%, 26% 24%, 26% 15%, 32% 20%, 36% 14%, 41% 21%, 46% 15%, 54% 20%, 58% 11%, 62% 18%, 67% 14%, 71% 22%, 74% 16%, 82% 22%, 85% 13%, 91% 21%, 100% 17%, 100% 88%, 95% 95%, 91% 89%, 86% 94%, 81% 88%, 75% 97%, 73% 91%, 68% 95%, 63% 86%, 59% 92%, 52% 88%, 47% 94%, 41% 86%, 36% 96%, 34% 90%, 29% 93%, 23% 86%, 22% 93%, 14% 87%, 9% 94%, 3% 90%, 0% 95%, 0% 17%);
    clip-path: polygon(0% 17%, 6% 13%, 12% 17%, 17% 14%, 26% 24%, 26% 15%, 32% 20%, 36% 14%, 41% 21%, 46% 15%, 54% 20%, 58% 11%, 62% 18%, 67% 14%, 71% 22%, 74% 16%, 82% 22%, 85% 13%, 91% 21%, 100% 17%, 100% 88%, 95% 95%, 91% 89%, 86% 94%, 81% 88%, 75% 97%, 73% 91%, 68% 95%, 63% 86%, 59% 92%, 52% 88%, 47% 94%, 41% 86%, 36% 96%, 34% 90%, 29% 93%, 23% 86%, 22% 93%, 14% 87%, 9% 94%, 3% 90%, 0% 95%, 0% 17%);
    -webkit-animation-name: background-animation;
            animation-name: background-animation;
    -webkit-animation-duration: 12s;
            animation-duration: 12s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
@-webkit-keyframes background-animation{
    0%, 100%{
      background-image: url(img/backgrounds/home_1.jpg);
    }
    33%{
      background-image: url(img/backgrounds/home_2.jpg);
    }
    66%{
      background-image: url(img/backgrounds/home_3.jpg);
    }
}
@keyframes background-animation{
    0%, 100%{
      background-image: url(img/backgrounds/home_1.jpg);
    }
    33%{
      background-image: url(img/backgrounds/home_2.jpg);
    }
    66%{
      background-image: url(img/backgrounds/home_3.jpg);
    }
}

/* About page */
.about > div {
    display:flex;
    flex-flow: column;
}
.about img {
    margin: 10px 0;
    clip-path: ellipse(40% 50% at 50% 50%);
}
.flowers {
    top: 0;
    z-index: 2;
    overflow: visible;
}
.flower {
    height: 80px;;
    position: relative;
    width: 80px;
    display: inline-block;
    animation: flower-rotation 5s infinite linear;
}
.circle {
    background-color: var(--white);
    border-radius: 100%;
    height: 3px;
    width: 3px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}
.petal {
    --rotation: calc(var(--i)*360deg/7);
    background-color: var(--dark-green);
    border-radius: 50%;
    height: 6px;
    left: 50%;
    margin: -3px -10%;
    position: absolute;
    top: 50%;
    transform: rotate(var(--rotation)) translate(6px);
    width: 20%;
}
@keyframes flower-rotation {
    100% {
      transform: rotate(360deg);
    }
}

/* Gallery page */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    margin-bottom: 100px;
}
.gallery a{
    height: 450px;
    text-align: center;
    background-size: cover;
    background-position: 50%;
    display: block;
    font-size: 2em;
    background-color: #3a5335;
}
#gallery_1 {
    background-image: url(img/gallery/gallery_1.jpg);
}
#gallery_2 {
    background-image: url(img/gallery/gallery_2.png);
}
#gallery_3 {
    background-image: url(img/gallery/gallery_3.jpg);
}
#gallery_4 {
    background-image: url(img/gallery/gallery_4.jpg);
}
#gallery_5 {
    background-image: url(img/gallery/gallery_5.jpg);
}
#gallery_6 {
    background-image: url(img/gallery/gallery_6.jpg);
}
#gallery_7 {
    background-image: url(img/gallery/gallery_7.jpg);
}
#gallery_8 {
    background-image: url(img/gallery/gallery_8.jpg);
}
#gallery_9 {
    background-image: url(img/gallery/gallery_9.jpg);
}
#gallery_10 {
    background-image: url(img/gallery/gallery_10.jpg);
}
#gallery_11 {
    background-image: url(img/gallery/gallery_11.jpg);
}
#gallery_12 {
    background-image: url(img/gallery/gallery_12.jpg);
}
#gallery_13 {
    background-image: url(img/gallery/gallery_13.jpg);
}
#gallery_14 {
    background-image: url(img/gallery/gallery_14.jpg);
}
#gallery_15 {
    background-image: url(img/gallery/gallery_15.jpg); 
}
#gallery_16 {
    background-image: url(img/gallery/gallery_16.jpg); 
}
.gallery a div {
    display: none;
    height: inherit;
}
.gallery a:hover div {
    display: flex;
    align-items:center;
    justify-content:center;
}
.gallery a:hover div {
    background-color: rgb(0, 0, 0, 0.3);
    color: var(--white);
    text-transform: uppercase;
    font-style: normal;
}
.contact-button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 46px;
    width: 52px;
    background-color: #3a5335;
    border-radius: 5px;
    overflow: visible;
    transition: background-color 1s ease-out;
}
.contact-button:hover {
    background-color: #709e53;
}
.contact-button img {
    padding: 3px 6px;
}

/* Detail pages */
.arrow-left {
    position: fixed;
    left: 5px;
    bottom: 50vh;
    height: 50px;
}
.arrow-right {
    position: fixed;
    right: 5px;
    bottom: 50vh;
    height: 50px;
}
.detail header {
    padding: 0;
}
.detail h1 {
    color: var(--black);
    margin: 50px 0;
}
.detail li {
    display: list-item;
    margin-left: 30px;
    font-size: 1.2em;
    line-height: 1.5em;
}
.vein-info div {
    display: flex;
}
iframe {
    width: 100%;
    min-height: 500px;
    border:0;
    margin-bottom: 50px;
}
blockquote, blockquote + p {
    text-align: right;
    font-size: 1.2em;
    font-style: italic;
    margin-top: 40px;
    padding-right: 3px;
}
.metal-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* Links */
.links > li{
    text-align: left;
    display: block;
    border-bottom: 2px solid var(--orange);
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 20px 15px;
}
li li {
    display: list-item;
    list-style: square;
    margin-left: 20px;
}
li li a:hover {
    color: var(--black);
}

/* Contact page */
.contact {
    background-image: url(img/backgrounds/contact.jpg);
    background-size: cover;
    text-align: center;
}
.contact h1{
    padding-top: 100px;
    padding-bottom: 50px;
}
.contact main li {
    display: block;
    padding-bottom: 30px;
}
.contact img {
    height: 50px;
}

/* Responsive */

@media screen and (min-width: 768px) {
    @-webkit-keyframes background-animation{
        0%, 100%{
          background-image: url(img/backgrounds/home_4.jpg);
        }
        33%{
            background-image: url(img/backgrounds/home_5.jpg);
          }
        66%{
          background-image: url(img/backgrounds/home_6.jpg);
        }
    }
    @keyframes background-animation{
        0%, 100%{
          background-image: url(img/backgrounds/home_4.jpg);
        }
        33%{
            background-image: url(img/backgrounds/home_5.jpg);
          }
        66%{
          background-image: url(img/backgrounds/home_6.jpg);
        }
    }
    h1 {
        font-size: 4em;
    }
    p {
        font-size: 1.2em;
    }
    nav li {
        margin: 20px;
    }
    .contact main li {
        display: inline;
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media screen and (max-width: 1023px) {
    .about img.second {
        order: -1;
    }
    p.first {
        order: 0;
    }
    img.third {
        order: 1;
    }
    .arrow-left img, .arrow-right img{
        height: 30px;
    }
    footer nav ul, footer nav li {
        display: block;
    }
    footer nav {
        margin-top: 20px;
    }
    .delete {
        display: none;
    }
}
@media screen and (min-width: 1024px){
    h1 {
        font-size: 5em;
    }
    .about p, .about h1{
        padding-top: 20px;
    }
    .about img {
        max-height: 350px;
        margin: 30px 0;
        clip-path: none;
    }
    .about > div {
        display: block;
    }
    .detail main {
        width: 70%;
    }
    .detail > article {
        display: grid;
        grid-gap: 30px;
        text-align: left;
    }
    .detail li {
        list-style: square;
    }
    .arrow-left {
        left: 20px;
    }
    .arrow-right {
        right: 20px;
    }
    .metal-info {
        grid-template-columns: 1fr 2fr;
    }
    .metal-images {
        display: block;
    }
}